{
  "default-feedback-ip": "0.0.0.0",
  "default-feedback-ip6": "",
  "domain-name": "devops.asdp.id.",
  "fortiview": "enable",
  "host-name": "@",
  "load-balance-method": "",
  "mkey": "public_devops.asdp.id",
  "persistence": "disable",
  "respond-single-record": "enable",
  "vs_pool_list": "",
  "vs_pool_list_count": ""
}
